<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dot Game</title>
    <style>
        body {
            background-color: #292c30;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        canvas {
            border: 1px solid #a6a6a6;
        }
    </style>
</head>
<body>
    <canvas id="gameCanvas" width="800" height="400" style="background-color: #292c30;"></canvas>
    <script src="/static/gamev2.js"></script>
</body>
</html>

