<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <title>El500 Plot</title>
</head>
<body>
    <div style="width: 75%;">
        <canvas id="myChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>

